

#container{
    width:500px;
    margin:0 auto;
    border:2px black solid;

}

.rowFlexBox{
    display : flex;

}

.squares{
    flex:1;
    aspect-ratio:1;
}

#buttoncontainer{
    display:flex;
    justify-content: center;
    gap:5px;
    margin-bottom:50px;
}